@import url("mocha.css");

* {
    border: none;
    min-height: 0;
    font-family: "JetBrains Nerd Font Mono";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

tooltip {
    background-color: @surface0;
    border: 2px solid @lavender;
    font-size: 2px;
}

tooltip label {
    margin: 4px;
    color: @lavender;
}

#clock,
#tray,
#battery,
#network,
#pulseaudio,
#language {
    margin: 4px 4px 4px 0px;
    padding: 2px 8px;
}

#workspaces {
    margin: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 4px 9px;
    color: @lavender;
    background-color: @surface0;
    border: 2px solid @lavender; 
    margin-right: 2px;
}

#workspaces button.active {
    background-color: @crust;
}

#workspaces button.urgent {
    background-color: @red;
    color: @base;
    border: 2px solid @red;
}

#clock {
    background-color: @lavender;
    border-radius: 4px;
    color: @base;
}

#network,
#pulseaudio,
#battery,
#tray,
#language {
    background-color: @surface0;
    border: 2px solid #b6a0ff;
    color: @lavender;
}

#network {
    min-width: 100px;
}

#battery,
#pulseaudio {
    min-width: 60px;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: @red;
    border: 2px solid @red;
}

#language {
    min-width: 20px;
}
