* {
    border: none;
    min-height: 0;
    font-family: "JetBrains Nerd Font Mono";
    font-weight: 500;
    font-size: 14px;
    padding: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

tooltip {
    background-color: #353146;
    border: 2px solid #b6a0ff;
    font-size: 2px;
}

tooltip label {
    margin: 4px;
    color: #b6a0ff;
}

#clock,
#tray,
#cpu,
#memory,
#battery,
#network,
#pulseaudio,
#language {
    margin: 4px 4px 4px 0px;
    padding: 2px 8px;
}

#workspaces {
    margin: 4px;
}

#workspaces button {
    all: initial;
    min-width: 0;
    box-shadow: inset 0 -3px transparent;
    padding: 4px 9px;
    color: #b6a0ff;
    background-color: #353146;
    border: 2px solid #b6a0ff; 
    margin-right: 2px;
}

#workspaces button.active {
    background-color: #12101a;
}

#workspaces button.urgent {
    background-color: #e542c0;
    color: #1f1c27;
    border: 2px solid #e542c0;
}

#clock {
    background-color: #b6a0ff;
    border-radius: 4px;
    color: #1f1c27;
}

#cpu,
#memory,
#network,
#pulseaudio,
#battery,
#tray,
#language {
    background-color: #353146;
    border: 2px solid #b6a0ff;
    color: #b6a0ff;
}

#network {
    min-width: 100px;
}

#cpu,
#memory,
#battery,
#pulseaudio {
    min-width: 60px;
}

#cpu.critical,
#memory.critical {
    color: #e542c0;
    border: 2px solid #e542c0;
}

#battery.warning,
#battery.critical,
#battery.urgent {
    color: #e542c0;
    border: 2px solid #e542c0;
}

#language {
    min-width: 20px;
}
